*/obj/
/.vs/JonasCodingTest/v15/.suo
/.vs/JonasCodingTest/v15/
*/bin/
/packages/
/WebApi/Web.Debug.*
/WebApi/Web.Release.config
/.vs/JonasCodingTest
/WebApi/Content
/WebApi/fonts
/WebApi/Scripts
/BusinessLayer/.vs
/DataAccessLayer/.vs
/DataLayer.Model/.vs
/WebApi/.vs
